body {
	background-color: #c0c6cf;
}
.container {
	width: 510px;
	/*border: 1px solid white;*/
	margin: auto;
	margin-top: 50px;
	box-sizing: border-box;
	/*background-color: #3b3b3b;*/
}
.up-side {
	width: 500px;
	height: 150px;
	border: 3px solid black;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
	background-color: #2b2b2b;
	border-radius: 10px;
}
.delete {
	position: absolute;
	margin-left: 330px;
	margin-top: -10px;
	border: 1px solid white;
	height: 25px;
	width: 50px;
	text-align: center;
	line-height: 25px;
	background-color: #0d0d0d;
	color: white;
	font-family: "Segoe UI Black",fantasy;
	font-size: 13px;
	cursor: pointer;
	border-radius: 5px;
}
.clear {
	position: absolute;
	margin-left: 400px;
	margin-top: -10px;
	border: 1px solid white;
	height: 25px;
	width: 50px;
	text-align: center;
	line-height: 25px;
	background-color: #0d0d0d;
	color: white;
	font-family: "Segoe UI Black",fantasy;
	font-size: 13px;
	cursor: pointer;
	border-radius: 5px;
}
.casio {
	position: absolute;
	margin-top: -5px;
	color: white; 
	letter-spacing: 3px;
	font-weight: bold;
	font-family: "font-digital"
}
@font-face {
	font-family: "font-digital";
	src: url('font/digital-7_italic.ttf');
}
.output {
	width: 460px;
	height: 80px;
	margin: auto;
	margin-top: 30px;
	/*border: 1px solid blue;*/
	/*background-color: #e3e3e3;*/
	background-color: #b8bbbf;
	direction: rtl;
	font-family: "font-digital";
	font-size: 80px;
	line-height: 70px;
	text-indent: 5px;
	overflow-y: hidden;
}
.operator {
	position: absolute;
	margin-top: -85px;
	margin-left: 6px;
	font-family: calibri, sans-serif;
	font-size: 20px;
	color: red;
}
.bottom-side {
	width: 500px;
	border: 3px solid black;
	margin: 10px auto;
	padding: 20px;
	box-sizing: border-box;
	background-color: #2b2b2b;
	border-radius: 10px;
}
.tampung {
	width: 97.5px;
	/*border: 1px solid blue;*/
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}
.tombolA, .tombolO, .samadengan {
	width: 97.5px;
	height: 50px;
	border: 1px solid white;
	text-align: center;
	line-height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
	background-color: #0d0d0d;
	color: white;
	border-radius: 5px;
	font-family: calibri, sans-serif;
}
.readme {
	width: 200px;
	height: 80px;
	border: 3px solid white;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	line-height: 80px;
	font-size: 25px;
	font-family: 'Comic Sans MS';
	background-color: #2b2b2b;
	cursor: pointer;	
}
.readme a {
	text-decoration: none;
	color: white;
}
.readme:hover {
  text-shadow: 0 0 3px #FF0000;
}

















/*ini clear float */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}